apiVersion: apps/v1
kind: Deployment
metadata:
  name: selenium-node-chrome
  labels:
    app: selenium
spec:
  replicas: {{ selenium.node.chrome.replicas }}
  selector:
    matchLabels:
      app: selenium-node-chrome
  template:
    metadata:
      labels:
        app: selenium-node-chrome
    spec:
      containers:
      - name: selenium-node-chrome
        image: {{ selenium.node.chrome.image }} 
        ports:
          - containerPort: 5900
        env:
          - name: HUB_PORT_4444_TCP_ADDR
            value: "selenium-hub"
          - name: HUB_PORT_4444_TCP_PORT
            value: "4444"
          - name: VNC_NO_PASSWORD
            value: "1"
          - name: GRID_DEBUG
            value: "true"
        resources:
          limits:
            memory: "1000Mi"
            cpu: ".5"